body {
    background-color: red !important;
    font-family: Arial, sans-serif;
    padding-top: 70px; 
}

.secao {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    background-color: red;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    margin bottom: 20px;
}
p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.imagem {
    width: 80%;
    border-radius: 30%;
    margin: 20px 0;
}


@media (max-width: 768px) {
    p {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.6rem;
    }
}

@media (max-width: 480px) {
    p {
        font-size: 0.9rem;
    }
    h1 {
        font-size: 1.4rem;
    }
}
